<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- <title>blogBackstage</title> -->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/jquery-easyui-1.7.0/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/jquery-easyui-1.7.0/themes/icon.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/jquery-easyui-1.7.0/themes/color.css">

        <script type="text/javascript" src="__PUBLIC__/jquery-easyui-1.7.0/jquery.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
<style>
    .main{
        width: 1000px;
        padding: 24px;
        text-align: center;
        /* margin: 0 auto; */
    }
    form{
        margin: 0;
        float: left;
        /* width:800px; */
        padding: 20px;
        border-bottom:1px solid #ebeef5;
    }
    input{
        float: left;
    }

    .progress {
        width: 500px;
        height: 30px;
        border: 2px solid red;
        border-radius: 10px;
        margin: 10px 0px;
        overflow: hidden;
    }
    /* 初始状态设置进度条宽度为0px */
    .progress > div {
        width: 0px;     
        height: 100%;
        background-color: yellowgreen;
        transition: all .3s ease;
    }
</style>
        <script>

        onkeypress = function(){ 
            if(13 == event.keyCode){
                getSeriesData();
            }
        }

        var series_id = 0;
        var video_id = 0;
        var userName = {$userName};
        // console.log({$userName});
        function transTime(time){
            if(time == undefined){
                //
            }else{
                var year    = time.substring(6,10);
                var month   = time.substring(0,2);
                var day     = time.substring(3,5);
                var hour    = time.substring(11,13);
                var min     = time.substring(14,16);
                // var d = new Date();
                var d = (year+month+day+hour+min)*100;
                // console.info(year);
                // console.info(monthAndDay);
                // console.info(hms);
                // console.info(d);
                // var timestamp = new Date(d).getTime()/1000;
                // console.info(timestamp);
                return d;
            }
            
        }

        getSeriesData();
        function getSeriesData(){
            var startTime       = transTime($("#startTime").val());
            var endTime         = transTime($("#endTime").val());
            var search_title    = $("#search_title").val();

            $.ajax({
                type:'post',
                url:"__MODULE__/Manage/getSeriesData",
                data:{startTime:startTime,endTime:endTime,search_title:search_title},
                success:function(r){
                    console.log(r);
                    $('#dg').datagrid({
                    singleSelect:true,
                    toolbar:'#tb',
                    fitColumns:true,
                    pagination:true,
                    fit:true,
                    rownumbers:true,
                    checkOnSelect:false,
                    selectOnCheck:false,
                    striped : true,
                    pageNumber:1, 
                    pageSize:20,       //初始页
                    showFooter: true,
                    nowrap: false,
                    data:r,
                    onRowContextMenu:function(e,index,row){
                        series_id = row.series_id;
                        $('#series_id').val(series_id);
                        e.preventDefault();
                        $('#columnMenu').menu('show', {
                            left:e.pageX,
                            top:e.pageY,
                        });
                    }
                }).datagrid({loadFilter:getfilter});     
                },error:function(){
                    console.info('fail to get data');
                }
            })
        }
        

            
        function getfilter(data){
            if (typeof data.length == 'number' && typeof data.splice == 'function') {   // is array  
                data = {  
                    total: data.length,  
                    rows: data  
                }  
            }
            var dg = $(this);  
            var page = $('#dg').datagrid('getPager');
            var opts = $('#dg').datagrid('options');
                //设置分页组件参数
            page.pagination({
                onSelectPage: function (pageNum, pageSize) {
                    opts.pageNumber = pageNum;
                    opts.pageSize = pageSize;
                    page.pagination('refresh', {  
                        pageNumber: pageNum,  
                        pageSize: pageSize  
                    });  
                    dg.datagrid('loadData', data);  
                }  
            });  
            
            if (!data.originalRows) {  
                data.originalRows = (data.rows);  
            }  
            var start = (opts.pageNumber - 1) * parseInt(opts.pageSize);  
            var end = start + parseInt(opts.pageSize);  
            data.rows = (data.originalRows.slice(start, end));  
            return data;  
        }
        //添加剧集
        function addSeries(){
            $("#addSeries").dialog({
                title: '新增剧集',
                width: 550,
                height: 600,
                modal:true,
            })
        }
        //删除剧集
        function rmSeries(){
            $("#confirm").dialog({
                title:'警告',
                width:300,
                height:200,
                modal:true,
                buttons:[{text:'删除',
                        handler:function(){
                        var userName = {$userName};
                        console.log(userName);
                        $.ajax({
                            type:'post',
                            url:"__MODULE__/Manage/remove_series",
                            data:{series_id:series_id,userName:userName},
                            dataType:'json',
                            success:function(r){
                                console.log('good');
                                $(location).attr('href','__MODULE__/Manage/seriesManage');
                                $.messager.alert('提示','删除成功');
                            },
                            error:function(r){
                                console.log('bad');
                                $.messager.alert('提示','删除失败');
                            }

                        })
                    }},
                    {text:'返回',
                    handler:function(){
                        $("#confirm").window('close');
                    }}]
            })
        }

        //添加视频
        function addVideo(){
            $("#add_video").dialog({
                title: '添加视频',
                width: 550,
                height: 600,
                modal:true,
                closed:false
            })
            // $('#series_id').val(series_id);
            console.log(series_id);
        }
        //显示上传进度条
        function showProcessBar(){
            $("#add_video").dialog({closed:true});
            $(".progress").dialog({
                modal:true,
                closed:false,
                title:"上传进度条",
            })
            console.log("username:"+userName);
            console.log("series_id:"+series_id);
            

            var formData = new FormData();
            formData.append("video", $('#video')[0].files[0]);
            formData.append("userName", userName);
            formData.append("series_id", series_id);
            formData.append("video_episode", $("#video_episode").val());
            formData.append("video_title", $("#video_title").val());
            console.log(formData.get('userName'));
            if(formData.get('video') == 'undefined'){
                alert('无上传文件');
                $(".progress").dialog({
                    modal:false,
                    closed:true,
                })
            }else{
                $.ajax({
                    url:"__MODULE__/Manage/add_video",
                    data:formData,
                    dataType:'json',
                    type:'post',
                    processData:false,
                    contentType:false,
                    success:function(r){
                        console.log(r);
                        if(r==true){
                            $(location).attr('href','__MODULE__/Manage/seriesManage');
                        }
                    },
                    error:function(r){
                        console.log(r);
                        $(".progress").dialog({
                            modal:false,
                            closed:true,
                        })
                        $.messager.alert('提示','操作失败')
                    },
                    // xhr:function(){
                    //     var xhr = new XMLHttpRequest();
                    //     xhr.upload.addEventListener('progress',function(e){
                    //         console.log("1:"+e);

                    //         var progressRate = (e.loaded / e.total)*100 + "%";
                    //         $('.progress > div').css('width', progressRate);
                    //         // document.getElementsByClassName('progress').attr('width',progressRate);
                    //     })
                    // }
                    xhr: function() {
                        var xhr = new XMLHttpRequest();
                        //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
                        xhr.upload.addEventListener('progress', function (e) {
                            console.log(e);
                            //loaded代表上传了多少
                            //total代表总数为多少
                            var progressRate = (e.loaded / e.total) * 100 + '%';

                            //通过设置进度条的宽度达到效果
                            $('.progress > div').css('width', progressRate);
                        })

                        return xhr;
                    }
                });
            }
        }


        //删除剧集
        function rmVideo(){
            $("#confirm").dialog({
                title:'警告',
                width:300,
                height:200,
                modal:true,
                close:false,
                buttons:[{text:'删除',
                         handler:function(){
                            var userName = {$userName};
                            console.log(userName);
                            $.ajax({
                                type:'post',
                                url:"__MODULE__/Manage/remove_video",
                                data:{video_id:video_id,userName:userName,series_id:series_id},
                                dataType:'json',
                                success:function(r){
                                    console.log(r);
                                    if(r){
                                        $(location).attr('href','__MODULE__/Manage/seriesManage');
                                        $.messager.alert('提示','删除成功');
                                    }
                                },
                                error:function(r){
                                    console.log(r);
                                    $.messager.alert('提示','删除失败');
                                }

                            })
                         }},
                         {text:'返回',
                          handler:function(){
                            $("#confirm").window('close');
                          }}]
            })
            
        }
        //查看详情
        function showDetail(){
            $("#detail_wrapper").dialog({
                title: '剧集详情',
                width: 1500,
                height: 700,
                modal:true,
            })
            // console.log(series_id);
            // console.log(userName);
            $.ajax({
                type:'post',
                dataType:'json',
                url:"__MODULE__/Manage/getVideosData",
                data:{series_id:series_id,userName:userName},
                success:function(r){
                    console.log(r.series_title);
                    $("#series_title").html("剧集名称："+r.series_title);
                    $("#videoDetail").datagrid({
                        singleSelect:true,
                        toolbar:'#tb2',
                        fitColumns:true,
                        pagination:false,
                        fit:true,
                        rownumbers:true,
                        checkOnSelect:false,
                        selectOnCheck:false,
                        striped : true,
                        pageNumber:1, 
                        pageSize:20,       //初始页
                        showFooter: true,
                        nowrap: false,
                        data:r,
                        onRowContextMenu:function(e,index,row){
                            console.log(row.video_id);
                            video_id = row.video_id;
                            e.preventDefault();
                            $('#videoMenu').menu('show', {
                                left:e.pageX,
                                top:e.pageY,
                            });
                        }
                    })
                },
                error:function(r){
                    // console.log(r);
                    $.messager.alert('提示','获取数据失败，请刷新重试')
                }
            })
            
        }
        //更新信息
        function updateInfo(){
            console.info(userName+" and "+series_id);
            $.ajax({
                type:"POST",
                url:"__MODULE__/Manage/updateInfo",
                data:{userName:userName,series_id:series_id},
                dataType:'json',
                success:function(r){
                    // console.log(r);
                    if(r){
                        $(location).attr('href','__MODULE__/Manage/seriesManage');
                    }else{
                        $.messager.alert('提示','更新失败');
                    }
                },
                error:function(r){
                    console.log('fail');
                }
            })
        }

        function changeCover(){
            $("#changeCover").dialog({
                title:'更改封面',
                width:800,
                height:400,
                modal:true,
            })
            // alert(1);
        }
        function uploadchangeCover(){

            var formData = new FormData();
            formData.append("newCover", $('#newCover')[0].files[0]);
            formData.append("userName", userName);
            formData.append("series_id", series_id);
            console.log(formData.get('newCover'));
            if(formData.get('newCover') == 'undefined'){
                alert('缺少封面');
            }else{
                $.ajax({
                    url:"__MODULE__/Manage/changeCover",
                    data:formData,
                    dataType:'json',
                    type:'post',
                    async: false,
                    processData:false,
                    contentType:false,
                    success:function(r){
                        console.log(r);
                        if(r==true){
                            $(location).attr('href','__MODULE__/Manage/seriesManage');
                        }
                    },
                    error:function(){
                        $.messager.alert('提示','操作失败')
                    }
                });
            }
            
        }

        function changeShelves(){
            $.ajax({
                url:"__MODULE__/Manage/change_shelves",
                type:'post',
                dataType:'json',
                data:{userName:userName,series_id:series_id},
                success:function(r){
                    if(r==true){
                        $(location).attr('href','__MODULE__/Manage/seriesManage');
                    }
                },
                error:function(){
                    $.messager.alert('提示','操作失败')
                }
            })
        }

        function changeTitle(){
            $('#changeTitle').dialog({
                width:600,
                height:400,
            })
            
        }
        function uploadchangeTitle(){
            var newTitle =  $("#newTitle").val();
            console.log(newTitle);
            $.ajax({
                url:"__MODULE__/Manage/change_title",
                type:'post',
                dataType:'json',
                data:{userName:userName,series_id:series_id,newTitle:newTitle},
                success:function(r){
                    console.log(r);
                    if(r==true){
                        $(location).attr('href','__MODULE__/Manage/seriesManage');
                    }
                },
                error:function(){
                    $.messager.alert('提示','操作失败')
                }
            })
        }

        //格式显示是否上架
        function is_on_shelves(value,row,index){
            if(value == 1){
                return '是';
            }else{
                return '否';
            }
        }
        //格式显示封面
        function showCover(value,row,index){
            if(value){
                return "<img src='"+"__UPLOAD__/"+value+"'style='height:100px;width:80px;'";
            }else{
                return null;
            }
        }

        </script>
    </head>
    <body>
<!-- 工具栏搜索栏 -->
        <div id="tb" >
            <div style="float: left; margin-right: 50px;">
                <a id="addbtn" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addSeries()" style="float:left;">新增剧集</a>
            </div>
            <div style="float: left; margin-right: 50px;">
                <input id="startTime" class="easyui-datetimespinner" label="Start Time:" labelPosition="left" style="width:230px;">
                <input id="endTime" class="easyui-datetimespinner" label="End Time:" labelPosition="left" style="width:230px;">
            </div>
            <div style="float: left; margin-right: 50px;">
                <input id="search_title" href="#" class="easyui-textbox" iconCls="icon-search" data-options="prompt:'搜索标题...'">
                <!-- <a href="#" class="easyui-linkbutton" onclick="getSeriesData()">搜索</a> -->
            </div>
        </div>
<!-- 工具栏搜索栏 结束 -->

<!-- 剧集信息表 -->
        <table id="dg" class="easyui-datagrid" data-options="singleSelect:false,toolbar:'#tb',
                        fitColumns:true,pagination:true,fit:true,rownumbers:true,
                        checkOnSelect:false,selectOnCheck:false">
            <thead>  
                <tr>  
                    <!-- <th data-options="field:'ck',checkbox:true"></th> -->
                    <th field="series_id" width="50" align="center" sortable="true">剧集ID</th>
                    <th field="is_on_shelves" width="80" align="center" sortable="true" data-options="formatter:is_on_shelves">是否上架</th>
                    <th field="series_title" width="220" align="center" sortable="true">标题</th>
                    <th field="series_coverpath" width="100" align="center" sortable="true" data-options="formatter:showCover">剧集封面</th>
                    <th field="series_partition" width="100" align="center" sortable="true">分区</th>
                    <th field="series_tag" width="220" align="center" sortable="true">标签</th>
                    <th field="series_profile" width="220" align="center" sortable="true">剧集简介</th>
                    <th field="series_created_timestamp" width="220" align="center" sortable="true">上传时间</th>
                    <th field="series_total_episode" width="220" align="center" sortable="true">总集数</th>
                </tr>  
            </thead>  
        </table>
<!-- 剧集信息表 结束-->
<!-- 创建剧集窗口 -->
        <section id="addSeries"  style="width:100%;max-width:600px;padding:30px 60px;">
            <form class="fileUpLoad" enctype="multipart/form-data" action="__MODULE__/Manage/create_series" method="POST">
                
                <div style="margin-bottom: 60px;">
                    <input name="userName" type="text" value="{$userName}" style="display:none;">
                    <h1><span style="color: red;">*</span>基本信息</h1>
                    选择封面: </br>
                    <input name="cover" class="easyui-filebox"  accept="image/*"/>
                </div>
                    分区
                    <input name="partition" class="easyui-combobox"
                    data-options="
                    valueField: 'label',
                    textField: 'value',
                    editable: false,
                    data: [{
                        label: 'series',
                        value: '剧集'
                    },{
                        label: 'movie',
                        value: '电影'
                    },{
                        label: 'animation',
                        value: '动漫'
                    },{
                        label: 'newsreel',
                        value: '纪录片'
                    }]" />
                </div>

                <div style="margin-bottom: 30px;">
                    <h1><span style="color: red;">*</span>标题</h1>
                    <input id="title" name="title" onchange="isSeries" type="text" class="easyui-textbox"   style="width:100%"/>
                    <p>ps: 按回车ENTER创建标题</p>
                </div>

                <div style="margin-bottom: 30px;">
                    <h1><span style="color: red;">*</span>标签</h1>
                    <input id="tag" name="tag" class="easyui-tagbox" type="text"   style="width:100%"/>
                    <p>ps: 按回车ENTER创建标签</p>
                </div>

                <div style="margin-bottom: 30px;">
                    <h1><span style="color: red;">*</span>简介</h1>
                    <input id="profile" name="profile" type="text" class="easyui-textbox" labelPosition="top" style="width:100%;height:120px;font-size: 12px;" multiline="true">
                </div>

                
                
                <input class="easyui-linkbutton c6" style="padding: 10px 25px;margin: 30px 0;"  type="submit"  value="确认提交"  />
            </form>
        </section>
<!-- 创建剧集窗口 结束-->

<!-- __MODULE__/Manage/add_video -->
<!-- 添加视频 -->
        <section id="add_video" style="width:100%;max-width:600px;padding:30px 60px;">
            <form class="fileUpLoad" enctype="multipart/form-data" action="__MODULE__/Manage/add_video" method="POST">
                
                <div style="margin-bottom: 60px;">
                    <h1><span style="color: red;">*</span>视频上传</h1>
                    <!-- <input id="userName" name="userName" type="text" value="{$userName}" style="display:none;">
                    <input id="series_id" name="series_id" type="text" style="display:none;"> -->
                    选择视频: </br>
                    <!-- class="easyui-filebox" -->
                    <input id="video" name="video"  type="file" style="width: 300px;"  accept="video/*"/>
                    <!-- <input id="newCover" name="newCover" type="file"  style="width: 300px;"  accept="image/*"/> -->
                </div>
                <div style="margin-bottom: 60px;">
                    第<input id="video_episode" name="video_episode" class="easyui-textbox" style="width: 50px;margin-bottom: 20px;"/>集</br>
                </div>
                <div style="margin-bottom: 60px;">
                    本集标题：<input id="video_title" name="video_title" class="easyui-textbox" style="width: 300px;margin-bottom: 20px;"/>
                </div>

                <input class="easyui-linkbutton c6" style="padding: 10px 25px;margin: 30px 0;"  type="button" onclick="showProcessBar()"  value="确认提交"  />
            </form>
        </section>
<!-- 添加视频 结束 -->

<!-- 视频详情工具栏 -->
    <div id="tb2" >
        <div style="float: left; margin-right: 50px;">
            <a id="addbtn" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="addVideo()" style="float:left;">添加视频</a>
        </div>
    </div>
<!-- 视频详情工具栏 结束 -->

        <section id="detail_wrapper" style="padding:20px 20px;" >
            <p id="series_title" >123123</p>
            <table id="videoDetail" class="easyui-datagrid" data-options="width:1200,singleSelect:false,toolbar:'#tb2',
            fitColumns:false,pagination:false,fit:false,rownumbers:false,
            checkOnSelect:false,selectOnCheck:false">
                <thead>  
                    <tr>  
                        <!-- <th data-options="field:'ck',checkbox:true"></th> -->
                        <th field="video_id" width="100" align="center" sortable="true">视频ID</th>
                        <th field="video_episode" width="220" align="center" sortable="true">集数</th>
                        <th field="video_title" width="220" align="center" sortable="true">视频标题</th>
                        <th field="series_id" width="80" align="center" sortable="true">剧集号</th>
                        <th field="video_ext" width="220" align="center" sortable="true">视频后缀</th>
                        <th field="video_size" width="220" align="center" sortable="true">视频大小</th>
                        <th field="video_mime" width="220" align="center" sortable="true">MIME类型</th>
                        <th field="video_upload_timestamp" width="220" align="center" sortable="true">上传时间</th>
                    </tr>  
                </thead>  
            </table>
        </section>
<!-- 视频详情 结束-->

<!-- 更新封面 -->
<section id="changeCover"  style="width:100%;max-width:600px;padding:30px 60px;">
    <form class="fileUpLoad" enctype="multipart/form-data" action=""  method="POST">
        <div style="margin-bottom: 60px;">
            <input id="userName" name="userName" type="text" value="{$userName}" style="display:none;">
            <input id="series_id" name="series_id" type="text" style="display:none;">
            选择新封面: </br>
            <input id="newCover" name="newCover" type="file"  style="width: 300px;"  accept="image/*"/>
        </div>
        <input class="easyui-linkbutton c6" style="padding: 10px 25px;margin: 30px 0;"  onclick="uploadchangeCover()"  value="更新封面"  />
    </form>
</section>
<!-- 更新封面 结束 -->

<!-- 换标题 -->
<section id="changeTitle"  style="width:100%;max-width:600px;padding:30px 60px;">
    <form class="fileUpLoad" enctype="multipart/form-data" action=""  method="POST">
        <div style="margin-bottom: 60px;">
            <input id="userName" name="userName" type="text" value="{$userName}" style="display:none;">
            <input id="series_id" name="series_id" type="text" style="display:none;">
            新标题: </br>
            <input id="newTitle" name="newTitle" type="text" class="easyui-textbox"  style="width: 300px;"/>
        </div>
        <input class="easyui-linkbutton c6" style="padding: 10px 25px;margin: 30px 0;"  onclick="uploadchangeTitle()"  value="更新标题"  />
    </form>
</section>
<!-- 换标题 结束 -->

<!-- 确认窗口 -->
<div id="confirm">
    此操作不可撤回，是否确认删除
</div>
<!-- 确认窗口 结束-->

<!-- 剧集右键菜单界面 -->
        <div id="columnMenu" class="easyui-menu" style="width:120px;">
            <div onclick="showDetail()">查看详情</div>
            <div onclick="addVideo()">添加视频</div>
            <div onclick="rmSeries()">删除剧集</div>
            <div onclick="changeCover()">更换封面</div>
            <div onclick="changeTitle()">换标题</div>
            <div onclick="changeShelves()">上/下架剧集</div>
            <div onclick="updateInfo()">更新集数</div>
            <!-- <div onclick="javascript:alert('new')"></div> -->
        </div>
<!-- 剧集右键菜单界面 结束-->
<!-- 视频右键菜单界面 -->
        <div id="videoMenu" class="easyui-menu" style="width:120px;">
            <div onclick="rmVideo()">删除剧集</div>
            <!-- <div onclick="javascript:alert('new')"></div> -->
        </div>
<!-- 视频右键菜单界面 结束-->

<!-- 上传进度条 -->
<div class="progress">
    
    <div></div>
</div>
<!-- 上传进度条 结束-->
    </body>

</html>