<include file="header.html"/>
<style>
    .episode{
        padding: 2px 14px;
        border-bottom:1px solid #ccc ;
    }
</style>
<script>
    // console.log(location.search.substring(1));

    var row = 0;
    var rows = 0;
    var series_id = parseInt(getQueryValue('series_id')[1]);
    // console.log(series_id);
    $(function(){
        $.ajax({
            type:'get',
            dataType:'json',
            url:"__MODULE__/Hotspot/getEpisodeUrl",
            data:{series_id:series_id},
            success:function(r){
                console.log(r.length);
                rows = r;
                for(var i=0;i<r.length;i++){
                    // console.info(r[i].video_title);
                    var videoList_frame = '<li class="episode"><a href="javascript:void(0)">'+(i+1)+"."+r[i].video_title+'</a></li>';
                    $("#episode_wapper").append(videoList_frame);
                    // $("#episode_wapper").children().eq(i).children().eq(0).text(i+1+"."+r[i].video_title);
                }
                
                $(".episode").click(function(){
                    row = $(this).index();
                    console.info(rows);
                    // console.info(r[row].video_filepath);
                    $('#my-video').children().eq(0).attr('src',"__UPLOAD__/"+rows[row].video_filepath);
                    $("#episode_wapper a").css('font-weight','normal');
                    $("#episode_wapper").children().eq(row).children().eq(0).css('font-weight','bold');
                })

                $('.src').attr('src',"__UPLOAD__/"+rows[row].video_filepath);
            $("#episode_wapper a").css('font-weight','normal');
            $("#episode_wapper").children().eq(row).children().eq(0).css('font-weight','bold');
            },
            error:function(r){
                // console.log(r);
                console.log('fail');
            }
        })

        
    })
    
    
    
    
        

    function getQueryValue(s){
        var query = location.search.substring(1);
        var strs = query.split('&');
        for(var i=0 ;i<strs.length;i++){
            var str = strs[i].split('=');
            var key = str[0];
            // console.log(key);
            if(key == s){
                // console.log(str);
                return str;
                // break;
            }
        }
    }
</script>
<div class="wrapper" style="background-color: #2a2a2a;">
    <div style="margin: 0 auto;width: 1200px;">
        <section id="video_content" style="background: #fff;width:1200px;margin: 0 auto;padding: 10px 0;"> 
                <video id='my-video' class='video-js' controls preload='auto' height="630" width="1180" 
                poster='http://img.ddrk.me/cover.png' data-setup='{}' style="margin: 0 auto;">
                    <!-- <source class="src" src="my_video.mp4" type='video/mp4'> -->
                    <!-- <source src='MY_VIDEO.webm' type='video/webm'> -->
                </video>
                <script src='https://vjs.zencdn.net/7.6.5/video.js'></script>
                
                <ul id="episode_wapper" style="padding-top: 10px;" >
                    <!-- <li class="episode"><a href="javascript:void(0)"> 1.第一集01</a></li>
                    <li class="episode"><a href="javascript:void(0)"> 2.第二集02</a></li>
                    <li class="episode"><a href="javascript:void(0)"> 3.第三集03</a></li>
                    <li class="episode"><a href="javascript:void(0)"> 4.第四集04</a></li> -->
                </ul>
        </section>
        
        
        <div id="last_update_time" style="font-size:18px;padding: 30px 0;color: #fff;">
            <p style="">最后更新于<span>2019-10-16 02:04</span></p>
        </div>


        <section class="detail" style="max-height: 465px; padding: 30px; border: 1px solid #999;margin: 0 auto;background: #fff;">
            <div style="height: 405px; width: 270px;background: #000;">
                <img src="__PUBLIC__/static/img/logo_icon.png" 
                 class="cover" width="270" height="405"/>
            </div>
            <dl style="position: relative;top:-405px;left: 270px; margin-left: 30px; width: 800px;">
                <dt><a href="#">浪子神探</a></dt>
                <dd>原文片名: Prodigal Son</dd>
                <dd>又名: 不肖子神探 / 忤逆子神探 / 不肖之子 / 回头浪子</dd>
                <dd>导演: 李·杜兰·克里格</dd>
                <dd>演员: 麦克·辛 / 汤姆·佩恩 / 贝拉米·扬 / 卢·戴蒙德·菲利普斯</dd>
                <dd>类型: 犯罪 / 悬疑</dd>
                <dd>制片国家/地区: 美国</dd>
                </br>
                <dd>简介: 最好的犯罪心理学家之一：马尔科姆·布莱特，利用他的天赋异禀来帮助纽约警局破案。</dd>
            </dl>
            
        </section>
    </div>
</div>
<script>

</script>
<include file="footer.html"/>