<include file="header.html"/>
<style>
    a{
        text-decoration: none;
    }
    .video{
        position: relative;
        float: left;
        margin: 0px 30px 100px;
        /* padding: 5px; */
        display: block;
        /* background: url('/bsys/upload/covers/pic15719230361544739467.jpg') no-repeat;  */
        background-size: 300px 400px;
        overflow: hidden;
    }
    .cover{
        height: 400px;
        width: 300px;
        background: linear-gradient(rgba(0,0,0,0) 50%,rgba(0,0,0,0.8)) no-repeat;
        background-size: 300px 400px;
        transition:  all  2s;
    }
    .cover:hover{
        background: linear-gradient(rgba(211, 162, 162, 0) 30%,rgba(0,0,0,0.8)) no-repeat;
    }
    .detail{
        position: absolute;
        bottom: 20px;
        /* left:  5px; */
        padding: 0 25px;
        color: white;
        font-size: 26px;
        background-color: rgba(0,0,0,0);
        font-weight: bold;
    }


</style>
<script>
    console.log("__UPLOAD__");
    // var series_frame = "<dt class='video' style='width: 300px; height: 400px;'></dt>";
    var series_frame = "<dt class='video' style='width: 300px; height: 400px;'> \
                            <a class='cover' href='__MODULE__/hotspot/play' style='display: block;background-size: 300px 400px;''></a> \
                            <span class='detail' href='__MODULE__/Index/hotspot/play'></span> \
                        </dt>";

    getHotspotList();
    function getHotspotList(){
        // alert(1);
        $.ajax({
            url:"__MODULE__/Hotspot/getHotspotList",
            dataType:'json',
            type:'post',
            success:function(r){
                // console.log(r);
                for(var obj in r){
                    console.log(r[obj].cover);
                    console.log(r[obj].title);
                    $("#seriesListWapper").append(series_frame);
                    console.log($("#seriesListWapper").children().eq(obj));
                    var bg = 'url('+"__UPLOAD__/"+r[obj].series_coverpath+')'+" no-repeat";
                    console.log(bg);
                    $("#seriesListWapper").children().eq(obj).css('background',bg);
                    $("#seriesListWapper").children().eq(obj).css('background-size','300px 400px');
                    $("#seriesListWapper").children().eq(obj).children().eq(0).attr('href',"__MODULE__/hotspot/play?series_id="+r[obj].series_id);
                    $("#seriesListWapper").children().eq(obj).children().eq(1).text(r[obj].series_title);
                }
            }
        })
    }
    // function get

    // function createListView(){

    // }

    
</script>
<section style="background: #2a2a2a; width:100%; height: auto; min-height: 800px; float: left;">
    <div style="height:100%; width: 1450px;margin: 0 auto; padding: 0 20px;">
       <div id="seriesListWapper" style="height:100%; width: 1450px;margin: 0 auto; padding: 0 20px;">
            <!-- <dt class="video" style="width: 300px; height: 400px;">
                <a class="cover" href="/bsys/index.php/Index/hotspot/play" style="display: block;background-size: 300px 400px;"></a>
                <span class="detail" href="/bsys/index.php/Index/hotspot/play">闪电侠第六季</span>
            </dt> -->
           
        </div>
    </div>
</section>


<include file="footer.html"/>